---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

body {
  background-color: var(--color-dark);
  position: relative;
}

.cards-container {
  margin-top: -4em;
}

.h-vh {
 height: 100vh;
}

.movie-details {
  margin-top: -18em;
  position: relative;
}

a:focus {
  outline: 3px solid #000;
}

.cards-wrapper {
  top: 63%;
  /* margin: 0 3em; */
}

@media only screen and (min-width: 60em) {

  .movie-details {
    margin-top: -16em;
    margin-bottom: 3em;
  }

}

.banner-negative {
  margin-top: -5em;
}

.banner-negative-1 {
  margin-top: -1em;
}

a:focus,
[tabindex="0"]:focus,
details:focus,
summary:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid var(--color-secondary-light);
  outline-offset: 3px;
}
