---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

body {
  background-color: var(--color-dark);
}

.h-vh {
 height: 100vh;
}

.pin-movie-details {
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
}
