---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

body {
  background-color: var(--color-dark);
  position: relative;
}

.cards-container {
  margin-top: -3em;
}

.h-vh {
 height: 100vh;
}

.movie-details {
  margin-top: -18em;
  position: relative;
}

a:focus {
  outline: 3px solid #000;
}

.cards-wrapper {
  top: 63%;
  /* margin: 0 3em; */
}

@media only screen and (min-width: 60em) {

  .movie-details {
    margin-top: -12em;
    margin-bottom: 3em;
  }

}
