:root {
  --color-secondary: #ad2024;
  --color-secondary-dark: #7d141a;
  --color-secondary-light: #cf2029;
  --color-primary: #dfa528;
  --color-primary-dark: #cc9129;
  --color-primary-bright: #f9b01e;
  --color-accent: #009493;
  --color-accent-dark: #007C79;
  --color-neutral: #f6f1ec;
  --color-neutral-middle: #a7a9ac;
  --color-neutral-dark: #808184;
  --color-dark: #061327;


  --font-primary: "Overpass", sans-serif;
  --font-secondary: "Alegreya Sans", sans-serif;

  --border-radius: 8px;
}

/* ------- theme classes ---------- */

/* @utility Apply the primary typeface */
.font-primary {
  font-family: var(--font-primary);
}

/* @utility Apply the secondary typeface */
.font-secondary {
  font-family: var(--font-secondary);
}

/* @utility Apply the neutral background colour to an element */
.bg-neutral {
  background-color: var(--color-neutral);
}

/* @utility Apply the dark background colour to an element */
.bg-dark {
  background-color: var(--color-dark);
}

.white {
  color: #fff;
}

.white-bg {
  background-color: #fff;
}

.black {
  color: #000;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-bright {
  color: var(--color-secondary-bright);
}


/* ------- theme typography ---------- */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-secondary-bright);
}

body {
  font-family: var(--font-secondary);
  font-weight: 400;
}


a {
  color: var(--color-primary-dark);
}

mark {
  background-color: var(--color-accent);
}

dt {
  font-family: var(--font-secondary);
  font-weight: bold;
}

.smallcaps {
  font-variant: small-caps;
}

.tight {
  line-height: 1.1;
}

/* ------- theme ...  ---------- */
