.btn {
  background-color: var(--color-primary-dark);
  color: white;
  border-color: var(--color-primary-dark);
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-primary-dark);
  border-color: var(--color-primary-dark);
}
