.btn {
  font-family: var(--font-secondary);
  transition: background-color 0.2s ease-out;
  text-align: center;
}

.btn-hover {
  transition-timing-function: ease-out;
  transition: 100ms;
}

/* PRIMARY */
.btn-primary {
  background-color: var(--color-primary);
  color: white;
  padding: .75em 1.25em;
  border: none;
  border-radius: 0;
}

.btn-primary:hover {
  background-color: var(--color-primary-dark);
}

.btn-primary:focus {
  background-color: var(--color-primary-dark);

  transition-timing-function: ease;
  transition: 0.2s;
}

/* GHOST */
.btn-ghost {
  background-color: rgba(255,255,255,.2);
  border: 3px solid #fff;
  color: #fff;
  font-family: var(--font-secondary);
  font-weight: 700;
  border-radius: 0;
  padding: .75em 1.25em;
}

.btn-ghost:hover,
.btn-ghost:focus {
  background-color: rgba(255,255,255,.3);
  border: 3px solid #fff;
  color: #fff;
}

/* GHOST LIGHT */
.btn-ghost-light {
  background-color: rgba(255,255,255,.2);
  border: 3px solid white;
  color: white;
  font-family: var(--font-secondary);
  font-weight: 700;
  border-radius: 0;
  padding: .75em 1.25em;
}

.btn-ghost-light:hover,
.btn-ghost-light:focus {
  background-color: rgba(255,255,255,.3);
  border: 3px solid white;
  color: white;
}

/* ACCENT */
.btn-accent {
  background-color: var(--color-accent);
  color: white;
  padding: .75em 1.25em;
  border: none;
  border-radius: 0;
}

.btn-accent:hover {
  background-color: var(--color-accent-dark);
}

.btn-accent:focus {
  background-color: var(--color-accent-dark);

  transition-timing-function: ease-out;
  transition: 0.2s;
}

/* SECONDARY */
.btn-secondary {
  font-weight: 500;
  background-color: var(--color-neutral-middle);
  color: white;
  padding: .5em 1em;
  border: none;
  border-radius: 0;
}

.btn-secondary:hover {
  background-color: var(--color-neutral-dark);
}

.btn-secondary:focus {
  background-color: var(--color-neutral-dark);

  transition-timing-function: ease-out;
  transition: 0.2s;
}

/* TIME */
.btn-time {
  padding: .5em 1em;
}

/* PAYPAL */
.btn-paypal {
  padding: 1em 2.25em;
  background-color: #eabc53;
  border: none;
  border-radius: 0;
}

.btn-paypal:hover,
 .btn-paypal:focus {
  background-color: #d3a64c;
}
