---
layout: default
description: "Cinematorium allows you to see and instantaneously buy tickets for the movies that are playing today."
bannerTitle: ...
---

<div class="banner"  style="background-image: url({{site.data.movies.banner.image}})"></div>
<div class="relative">
  {% pattern banners/banners %}
</div>

<div class="absolute w-1">
  <div class="grid gutter-1-4">
    {% for movie in site.data.movies %}
      <div class="unit xs-1 s-1-2 m-1-3 l-1-4 push gutter-1-4">
        {% pattern cards/home-card data=movie %}
      </div>
    {% endfor %}
  </div>
</div>



<!-- <div class="grid">
  {% for movie in site.movies %}
    <div class="unit xs-1 s-1-2 m-1-3 l-1-4">
      {% pattern cards/home-card data=movie %}
    </div>
  {% endfor %}
</div> -->
