.embed-bar {
  padding-top: 35.33%;
}

.embed-poster {
  padding-top: 158.64%;
}

.ticket-masthead {
  background-color: var(--color-primary-bright);
}

.xs-ml-gutter-1-4 {
  padding-left: .325rem;
  padding-right: .325rem;
}

.w-ticket {
  min-width: 290px;
  max-height: 95vh;
}

@media only screen and (min-width: 32em) {

  .sm-1-2 {
    width: 50%;
  }

}

@media only screen and (min-width: 38em) {

  .w-ticket {
    min-width: 330px;
  }

}

@media only screen and (min-width: 44em) {

  .ml-1-3 {
    width: 33.3333%;
  }

  .ml-2-3 {
    width: 66.6667%;
  }

  .ml-1-2 {
    width: 50%;
  }

  .xs-ml-gutter {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
  }

  .xs-ml-gutter-2 {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }

  .xs-ml-gutter-1-4 {
    padding-left: .7rem;
    padding-right: .7rem;
  }

  /* .xs-ml-gutter-1-4 {
    padding-left: .35rem;
    padding-right: .35rem;
  } */

  .xs-ml-gutter-1-8 {
    padding-left: .175rem;
    padding-right: .175rem;
  }

}

@media only screen and (min-width: 60em) {

  .l-1-3 {
    width: 33.3333%;
  }

  .l-2-3 {
    width: 66.6667%;
  }

  .l-1-2 {
    width: 50%;
  }

}

.ticket-form {
  background-color: inherit;
  border: 2px solid white;
  text-align: center;
  max-width: 120px;
}

.max-width-pay {
  max-width: 150px;
}

.h-line-on-dark {
  border-width: 2px;
  border-color: white;
}

.i-l-56 {
  height: 46px;
  width: 46px;
}

@media only screen and (min-width: 38em) {

  .i-l-56 {
    height: 56px;
    width: 56px;
  }

}
