.home-card {
  text-decoration: none;
  display: block;
}

.home-card img {
  transition: all 0.2s ease-in;
}

.home-card:hover img {
  opacity: .4;
}

.btn-card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.home-card:hover .btn-card {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
